.players__container {
	width: 100%;
	padding: 24px 48px;
}

.players__container h2 {
	padding-bottom: 12px;
	font-size: 32px;
}

.players__list {
	font-size: 20px;
}

.player__item {
	margin-bottom: 12px;
	display: flex;
	align-items: center;
	height: 50px;
	font-size: 24px;
	padding-left: 12px;
}

.player__container {
	display: flex;
}

.player__item .player__gamertag {
	max-height: 34px;
	white-space: nowrap;
}

.player__item--skeleton {
	margin-top: 16px;
	font-size: 48px;
	display: flex;
	align-items: center;
}

.player__spinner {
	animation: spin 1s infinite linear;
}

.player__role {
	cursor: pointer;
	white-space: nowrap;
	color: #FFEA00;
	max-height: 34px;
}

.player__role--input {
	font-size: 1em;
	padding: 2px 4px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.player__status,
.player__status--input {
	margin-left: 12px;
	border-radius: 50px;
	border: none;
	outline: none;
	color: #000;
	height: 30px;
}

.player__status--container {
	display: flex;
	width: 100%;
}

.player__status {
	padding: 24px 24px;
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: auto;
	background-color: #1A1A1AD4;
	color: #fff;
	font-size: 16px;
	height: 35px;
}

.player__status--empty {
	color: gray;
	font-style: italic;
}

.player__status--input {
	padding: 24px 12px;
	width: 100%;
	max-width: 500px;
	font-size: 16px;
}

.player__status--input:active {
	outline: none;
	border: none;
}

.player__status--icon {
	margin-left: 4px;
	cursor: pointer;
}

.player__status--icon path {
	color: gray;
}

.status__post {
	margin-left: 22px;
	min-height: 40px;
}

@media (max-width: 1000px) {
	.player__status {
		white-space: wrap;
	}
}

@media (max-width: 800px) {
	.player__item {
		height: 150px;
		width: 100%;
		flex-wrap: wrap;
		border: 1px solid #FFEA00;
		border-radius: 10px;
		justify-content: center;
		padding-left: 0;
		margin-bottom: 24px;
	}

	.player__container {
		justify-content: center;
		padding-left: 12px;
		flex-wrap: wrap;
	}

	.player__status {
		margin: 0 16px;
	}

	.player__status--icon {
		height: 26px;
		width: 26px;
		margin-right: 16px;
	}
}
