.map-carousel {
	max-width: 1600px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

.slick-dots li button:before {
	color: #fff !important;
}

.slick-dots li.slick-active button:before {
	color: #fff !important;
	opacity: 1;
}

.custom-arrow {
	background: #1A1A1AD4;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 28px;
	color: white;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	top: 52%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	transition: all 300ms ease;
}

.custom-arrow:hover {
	width: 60px;
}

.custom-arrow.next {
	right: 10px;
}

.custom-arrow.prev {
	left: 10px;
}

.map-slide {
	margin-top: 60px;
	padding: 10px;
	transition: transform 300ms ease;
}

.map-image {
	width: 100%;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	min-height: 140px;
}

.map-image__skeleton {
	background-color: #1A1A1AD4;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.map-image__spinner {
	animation: spin 1s linear infinite;
	width: 100%;
	height: 25px;
}

.map-slide:hover {
	transform: scale(1.025);
}

.map-slide h3 {
	margin-top: 10px;
	font-size: 1.2rem;
}
