.navbar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: 60px;
	background-color: rgba(26, 26, 26, 0.83);
}

.navbar__btn {
	min-width: 100px;
	min-height: 42px;
	border-radius: 50px;
	border: none;
	background-color: #FFEA00;
	transition: all 300ms ease;
	cursor: pointer;
	margin-right: 12px;
	font-size: 16px;
}

.navbar__btn:hover {
	transform: scale(1.025);
	background-color: #FFF59D;
}

.navbar__btn:active {
	animation: bounce 150ms alternate-reverse;
}

@keyframes bounce {
	0% {
		transform: scale(1.025);
	}

	50% {
		transform: scale(0.9);
	}

	100% {
		transform: scale(1.025);
	}
}
