@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Winky Rough", sans-serif;
}

html,
body {
  background-color: #23272A;
  color: #fff;
  overflow: hidden !important;
}

/* @keyframes spin { */
/*   from { */
/*     transform: rotate(0deg); */
/*   } */
/**/
/*   to { */
/*     transform: rotate(360deg); */
/*   } */
/* } */
